/*
 * main.css v0.3.0
 * Update: 2019.09.27
 * Author: YungHyeok.Synn
 */
 
 /* main menu */
 ul {
    background: rgb(49, 49, 49);
    height: 30px;
    list-style: none;
    margin: 0px;
    padding: 15px 10px 8px;
    width: 100%
  }
  ul li {
    float: left;
    margin-right: 10px
  }					
  ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none
  }
  
  /* Home Title */
  .home-title {
    color: rgb(159, 185, 255);
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
  }
  
  /* article background */
  .article-bg {
    background-color: rgb(104, 104, 175);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 300px;
    padding: 15px;
  }

  .article-2nd-bg {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 300px;
    padding: 15px;
  }
  .article-3nd-bg {
    background-color: rgb(200, 100, 100);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 600px;
    padding: 15px;
  }
  .article-4nd-bg {
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 500px;
    padding: 15px;
  }
  .article-5nd-bg {
    background-color: rgb(200, 200, 150);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 350px;
    padding: 15px;
  }
  .article-left{
    background-color: rgb(1, 200, 150);
    float: left;
    text-align: center;
    height: 350px;
    line-height: 350px;
    width: 50%;
  }
  
  .article-right{
    background-color: rgb(200, 2, 150);
    float: right;
    text-align: center;
    height: 350px;
    line-height: 350px;
    width: 50%;
  }
  
  

  .image-cropper-50{
      height: 200px;
      margin: 15px;
      width: 200px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
  }

  .image-cropper-25{
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    border-radius: 25%;
    }

    .image-cropper-5{
        height: 200px;
        margin: 15px;
        width: 200px;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        border-radius: 5%;
    }
  
  /* margin, padding, border test */
  .box-test {
    background-color: brown;
    display: inline-block;
    border: 10px solid black;
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 50%;
  }